/* Menu Toggle Button */
.menu-toggle {
  position: fixed;
  top: 0.8rem;
  right: 1.5rem;
  width: 120px;
  height: 55px;
  background-color: var(--fg);
  border-radius: 8em;
  transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.8s ease-out;
  transform-origin: right;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
}

.menu-toggle.opened {
  width: 55px;
}

.menu-copy {
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
  color: var(--bg);
  transition: left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.3s ease-out;
  z-index: 1;
}

.menu-copy p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: var(--bg);
}

.menu-toggle:hover .menu-copy {
  left: 18px;
}

.menu-toggle.opened .menu-copy {
  opacity: 0;
}

.menu-toggle-icon {
  position: absolute;
  right: 0;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  clip-path: circle(10% at 50% 50%);
  background-color: #c4a77d;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 10;
  overflow: hidden;
}

.menu-toggle:hover .menu-toggle-icon {
  clip-path: circle(35% at 50% 50%);
}

.menu-toggle.opened .menu-toggle-icon {
  clip-path: circle(50% at 50% 50%);
  transform: scale(1.125);
}

.hamburger {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
}

.menu-toggle:hover .hamburger,
.menu-toggle.opened .hamburger {
  top: 50%;
  opacity: 1;
}

.menu-bar {
  position: absolute;
  width: 15px;
  height: 1.5px;
  background: var(--fg);
  transition-property: transform;
  transition: all 250ms ease-out;
}

.menu-bar[data-position="top"] {
  transform: translateY(-3px);
}

.menu-bar[data-position="bottom"] {
  transform: translateY(3px);
}

.menu-toggle.opened .menu-bar[data-position="top"] {
  transform: translateY(0) rotate(45deg) scaleX(1.05);
}

.menu-toggle.opened .menu-bar[data-position="bottom"] {
  transform: translateY(0) rotate(-45deg) scaleX(1.05);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .menu-toggle {
    width: 100px;
    height: 50px;
  }

  .menu-toggle.opened {
    width: 50px;
  }

  .menu-toggle-icon {
    width: 50px;
    height: 50px;
  }

  .menu-copy {
    left: 22px;
  }

  .menu-toggle:hover .menu-copy {
    left: 15px;
  }
}
